@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

$basic-font-family: 'Montserrat', sans-serif;

$basic-color-green: rgb(87, 185, 54);
$basic-color-green-hover: rgba(87, 185, 54, .5);
$basic-color-yellow: rgb(249, 277,81);
$basic-color-yellow-dark: rgb(201, 205, 74);
$basic-color-red: rgb(232, 66, 57);

$font-family-base: $basic-font-family;
