@import 'global';

.leftside-menu{
    margin-top: 10px;
    padding: 10px 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px 4px rgba(0, 0, 0, .1);
    li{
        list-style: none;
        a{
            color: #333333;
            text-decoration: none;
            font-size: 16px;
            display: block;
            transition: .2s ease-in-out;
            padding: 5px 5px 5px 12px;
        }
        &:hover{
            a{
                background-color: #333;
                color: #fff;
            }
        }
    }
}
