@import 'global';



a {
    text-decoration: none;
}

.block-showed {
    visibility: visible !important;
}

.breadcrumbs {
    margin-top: 10px;

    div {
        display: inline-block;

        a {
            display: inline-block;
            padding: 3px 8px;
            border-radius: 5px;
            color: #333333;
            text-decoration: none;
            background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
        }

        &:not(.active) {
            font-weight: bold;
        }

        &:not(:last-child):after {
            content: '►';
            font-size: 12px;
        }
    }
}

header {
    .cart-bg{
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 99;
    }
    .top {
        .logo {
            display: inline-block;
            margin-bottom: 5px;
            margin-top: 5px;

            img {
                width: 180px;
            }
        }

        .top-links {
            margin-bottom: 0;
            padding-left: 0;
            margin-left: 0;
            text-align: right;
            list-style: none;

            .top-link-item {
                display: inline-block;
                padding-right: 2px;

                .top-link {
                    font-weight: 400;
                    font-size: 13px;
                    padding: 6px 8px;
                    text-transform: uppercase;
                    color: #000000;
                }

                &:not(:last-child):after {
                    content: '|';
                    margin-right: 2px;
                    color: $secondary;
                }
            }
        }

        .top-phones {
            text-align: right;
            list-style: none;
            margin-bottom: 10px;
            margin-top: 5px;

            .top-phone {
                display: inline-block;
                margin-right: 6px;

                a {
                    i {
                        color: $basic-color-green;
                        margin-right: 6px;
                    }

                    font-weight: bold;
                    font-size: 16px;
                    line-height: 22px;
                    color: #000000;
                }
            }
        }
    }

    .under-top-menu {
        background-color: $basic-color-green;
        padding: 10px 0;

        #search {
            position: relative;

            .input-group {
                .input-group-prepend {
                    background-color: #ffffff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0 8px;
                    height: 38px;
                    border-right: none;
                    border-radius: 0;
                    border-top-left-radius: 15px;
                    border-bottom-left-radius: 15px;
                    font-size: 14px;

                    & + #search-field {
                        height: 38px;
                        border-left: none;
                        font: 12px Arial;
                        padding: 10px;
                        padding-right: 25px;
                        border-color: #fff;
                        border-radius: 0;
                        border-top-right-radius: 15px;
                        border-bottom-right-radius: 15px;
                    }
                }
                .search-clear{
                    position: absolute;
                    right: 10px;
                    top: 8.5px;
                    z-index: 999;
                    cursor: pointer;
                }
            }

            .result {
                position: absolute;
                display: block;
                background-color: #ffffff;
                min-height: 512px;
                right: 15px;
                top: 41px;
                bottom: 0;
                left: 15px;
                box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .5);
                z-index: 9999;
                visibility: hidden;

                table {
                    tr {
                        td {
                            vertical-align: middle;
                            img {
                                border-radius: 10px;
                            }

                            font: 14px Arial;

                            &.title {
                                padding: 7px 10px;

                                a {
                                    color: $basic-color-green;
                                    text-decoration: underline;
                                }
                            }

                            &.price {
                                padding: 7px 10px;
                                white-space: nowrap;
                                text-align: center;

                                span {
                                    font-weight: bold;
                                }
                            }

                            &.cart {
                                padding: 7px 10px;
                                color: $basic-color-green;
                                font-size: 20px;
                                text-align: center;

                                i {
                                    cursor: pointer;
                                    padding: 10px;
                                    border-radius: 10px;
                                    &:hover {
                                        background-color: #f3f3f3;
                                        box-shadow: inset 0 0 5px rgba(0,0,0,.4);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .links {
            list-style: none;
            padding-left: 0;
            margin-left: 0;
            margin-bottom: 0;
            text-align: right;

            .link-item {
                display: inline-block;

                a {
                    display: inline-block;
                    color: #ffffff;
                    padding: 9px 15px;
                    height: 100%;
                    font-size: 26px;
                    margin-top: -10px;
                    margin-bottom: -10px;

                    i {
                    }

                    &:hover {
                        background-color: rgba(255, 255, 255, .5);
                    }

                    &.link-cart {
                        & + .cart {
                            background-color: #fff;
                            position: absolute;
                            top: 48px;
                            right: 0;
                            left: -60px;
                            bottom: 0;
                            height: 300px;
                            overflow-y: auto;
                            min-width: 700px;
                            box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .5);
                            border-radius: 0 0 15px 15px;
                            visibility: hidden;
                            z-index: 999;
                            padding: 0px 20px;

                            table {
                                margin-top: 20px;

                                tr {
                                    th {
                                        color: #aaa;
                                        padding: 0px 10px 5px 10px;
                                        font: 10px Arial;
                                        white-space: nowrap;

                                        &.total-trash {
                                            font-size: 14px;

                                            i {
                                                cursor: pointer;

                                                &:hover {
                                                    color: $basic-color-red;
                                                }
                                            }
                                        }
                                    }

                                    td {
                                        padding: 7px 10px;
                                        line-height: 18px;
                                        vertical-align: middle;
                                        border: none;

                                        img {
                                            border-radius: 10px;
                                        }

                                        a {
                                            font-size: 14px;
                                            color: $basic-color-green;
                                            text-decoration: underline;
                                            text-align: left;
                                            padding: 7px 10px;
                                        }

                                        p {
                                            white-space: nowrap;
                                            margin-bottom: 0;
                                            font-size: 12px;

                                            span {
                                                font-weight: bold;
                                                font-size: 13px;

                                                &.total-count {
                                                    font-size: 14px;
                                                    margin-left: 10px;
                                                }
                                            }
                                        }

                                        .little-count {
                                            color: #aaa;
                                            font: 10px Arial;
                                            white-space: nowrap;
                                        }

                                        &.count {
                                            input[data-mask="number"] {
                                                width: 35px;
                                                font-size: 14px;
                                                line-height: 18px;
                                                text-align: center;
                                                -moz-appearance: textfield;
                                                padding: 0;

                                                &::-webkit-outer-spin-button,
                                                &::-webkit-inner-spin-button {
                                                    -webkit-appearance: none;
                                                    margin: 0;
                                                }
                                            }
                                        }

                                        .trash {
                                            color: #aaa;
                                            font: 14px Arial;
                                            white-space: nowrap;
                                            cursor: pointer;

                                            &:hover {
                                                color: $basic-color-red;
                                            }
                                        }
                                    }

                                    &.total {
                                        td {
                                            background-color: #f5f5f5;
                                            padding: 7px 10px;
                                            border-top: 2px solid #d3d3d3;
                                            white-space: nowrap;
                                            font: 14px Arial;

                                            span {
                                                font-weight: bold;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .bars {
            color: #f3f3f3;
            font-size: 16px;
            border: 1px solid #f3f3f3;
        }
    }

    .offcanvas {
        .offcanvas-bottom {
            .offcanvas-list {
                padding-left: 0;
                margin-left: 0;

                li {
                    list-style: none;

                    a {
                        color: $basic-color-green;

                        &:hover {
                            text-decoration: none;
                            color: rgb(69, 147, 44);
                        }

                        &.active {
                            color: $basic-color-green-hover;
                        }
                    }
                }
            }
        }
    }
}

.content {
    min-height: calc(100vh - 314px);

    .section-title {
        overflow: hidden;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;

        &:before, &:after {
            content: '';
            border: 1px solid #bba;
            width: 100%;
            height: 0;
            display: inline-block;
            top: -5px;
            position: relative;
        }

        &:before {
            margin-left: -100%;
            right: 10px;
        }

        &:after {
            margin-right: -100%;
            left: 10px;
        }
    }

    .slick-slide{
        .card{
            &.product{
                .sale{
                    left: 71px;
                }
            }
        }
    }

    .card {
        &.product {
            box-shadow: 0 0 8px 2px rgba(0, 0, 0, .1);
            min-height: 250px;
            transition: all .2s ease-in-out;
            border-radius: 8px;
            position: relative;
            margin: 0 15px;

            .add-to-favorite {
                border-radius: 50%;
                top: 100px;
                right: 15px;
                position: absolute;
                width: 45px;
                height: 45px;
                color: #ffcc10;
                border: 1px solid $basic-color-green-hover;
                display: flex;
                font-size: 20px;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                z-index: 9999;
                visibility: hidden;

                &:hover {
                    background-color: #f3f3f3;
                }
            }

            .sale {
                position: absolute;
                top: 10px;
                left: 62px;
                width: 150px;
            }

            .card-img-top {
                border-radius: 5px;
                max-width: 150px;
                margin: 10px auto 0;
            }

            &:hover {
                box-shadow: 0 10px 5px 1px rgba(0, 0, 0, .2);

                .add-to-favorite {
                    visibility: visible;
                }
            }

            .card-body {
                padding-bottom: 60px;

                .card-title {
                    max-width: 250px;
                    margin-left: auto;
                    margin-right: auto;
                    font-size: 16px;
                    color: #333333;
                    font-weight: bold;
                    margin-bottom: 10px;
                }

                .price {
                    position: absolute;
                    bottom: 1rem;
                    left: 1rem;
                    color: $basic-color-green;
                    font-size: 12px;

                    span {
                        font-size: 20px;
                        font-weight: bold;
                    }
                }

                &.with-sale {
                    .price {
                        span {
                            font-size: 18px;
                        }

                        &.old-price {
                            font-size: 10px;
                            color: $basic-color-red;
                            bottom: 2.2rem;

                            span {
                                font-size: 12px;
                                text-decoration: line-through;
                            }
                        }
                    }

                }

                .add-to-cart {
                    position: absolute;
                    right: 1rem;
                    bottom: 1rem;
                    z-index: 9999;
                    outline: none;
                    background-color: unset;
                    padding: 6px 8px 4px 5px;
                    border-radius: 5px;
                    transition: all .2s ease-in-out;
                    border: 1px solid $basic-color-green;
                    color: $basic-color-green;

                    i {
                        font-size: 25px;
                    }

                    &:hover {
                        background-color: $basic-color-green-hover;
                        color: #ffffff;
                    }
                }
            }
        }
    }

    #product.box {
        background-color: #fff;
        box-shadow: 0 0 8px 2px rgba(0, 0, 0, .1);
        padding: 30px;

        h1 {
            font-size: 36px;
            font-weight: 400;
            margin-bottom: 25px;
            letter-spacing: -0.03em;
        }

        .price {
            background-color: #fafaca;
            color: $basic-color-green;
            display: inline-block;
            text-align: center;
            box-shadow: 1px 1px 3px 0px rgb(0 0 0 / 30%);
            padding: 5px 15px;
            border-radius: 2px;
            white-space: nowrap;
            font-size: 14px;

            span {
                font-size: 32px;
                font-weight: bold;
            }
        }

        .counter {
            label {
                color: #999999;
                font-size: 12px;
                display: block;
            }

            div {
                i {
                    display: inline-block;
                    width: 18px;
                    position: relative;
                    background: #eee;
                    color: #777;
                    font: 18px/18px Arial;
                    text-align: center;
                    border: 1px solid #999;
                    font-style: normal;
                    cursor: pointer;
                    vertical-align: middle;
                }

                input {
                    font: 12px Arial;
                    border: 1px solid #bbb;
                    width: 37px;
                    text-align: center;
                    font-size: 14px;
                    padding: 1px;
                    vertical-align: middle;
                }
            }
        }

        &.with-sale {
            .sale-image {
                position: absolute;
            }

            .price {
                text-align: left;
                line-height: 1;

                .old-price {
                    font-size: 14px;
                    text-decoration: line-through;
                    color: $basic-color-red;

                    span {
                        font-size: 16px;
                    }
                }

                .new-price {
                    font-size: 18px;

                    span {
                        font-size: 28px;
                    }
                }
            }
        }

        input[data-mask="number"] {
            -moz-appearance: textfield;

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }

        .btn-buy {
            background-color: $basic-color-green;
            color: #fff;
            border: 1px solid $basic-color-green;
            font-size: 18px;
            font-weight: 400;
            margin-bottom: 10px;

            &:hover {
                background-color: rgb(69, 147, 44);
                box-shadow: 0 10px 5px 1px rgba(0, 0, 0, .2);
            }
        }

        .add-to-favorite {
            display: inline-block;
            color: #ffcc10;
            font-size: 36px;
            cursor: pointer;
            border: 1px solid $basic-color-green-hover;
            border-radius: 8px;
            padding: 1px 14px;
            position: relative;
            left: 20px;
            top: -20px;

            &:hover {
                background-color: $basic-color-green;
                color: #ffffff;
            }
        }

        .description {
            border: 1px solid #ccc;
            border-radius: 10px;
            padding: 20px;
            line-height: 20;
        }

        .main-photo {
            width: 80%;
            box-shadow: 0 2px 4px 4px rgba(0, 0, 0, 0.3);
        }
    }

    .article, .rubric{
        display: block;
        .article-body, .rubric-body{
            padding: 0 20px 20px 20px;
            .title{
                margin-top: 15px;
                text-align: center;
                color: #000000 !important;
                font-size: 17px;
            }
        }
        &:hover{
            box-shadow: 0 2px 4px 4px rgba(0, 0, 0, .1);
            .article-body, .rubric-body{
                .title{
                    color: $basic-color-red;
                }
            }
        }
    }
    &#public-article{
        .box{
            margin-top: 20px;
            box-shadow: 0 2px 4px 4px rgba(0, 0, 0, .1);
            border-radius: 10px;
            padding: 20px;
        }
    }
}

footer {
    background-color: $basic-color-green;
    padding: 30px 0 20px;
    margin-top: 50px;

    .logo {
        img {
            width: 180px;
        }
    }

    ul.links {
        margin-top: 15px;
        margin-left: 0;
        padding-left: 0;
        margin-bottom: 0;

        li {
            display: inline-block;
            list-style: none;

            &:first-child {
                &:after {
                    content: '|';
                    color: #ffffff;
                    margin-left: 10px;
                    margin-right: 10px;
                }
            }

            a {
                text-decoration: underline;
                font-size: 12px;
                line-height: 17px;
                color: #ffffff;
            }
        }
    }

    p {
        line-height: 17px;
        font-size: 14px;
        color: #ffffff;
        margin-bottom: 0;

        a {
            display: inline-block;
            margin-top: 10px;
            text-decoration: underline;
            color: #ffffff;

            &:hover {
                color: #ffffff;
            }
        }
    }
}

@media (max-width: 540px) {
    .content {
        .card {
            &.product {
                .add-to-favorite {
                    visibility: visible;
                }
            }
        }
    }
}
